body {
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px auto 20px;
  padding-top: 20px;
}
li {
  text-align: center;
  display: block;
  margin: 10px auto;
}
h3,
h4 {
  padding-top: 30px;
}
h3 {
  font-size: 12px;
  position: absolute;
  top: 60px;
  right: 1090px;
}
h4 {
  font-size: 12px;
  position: absolute;
  top: 60px;
  left: 1044px;
}
p {
  padding: 20px;
  margin: 0 auto;
}
p:hover {
  cursor: pointer;
}
